@model ResumeProject.Models.Certification

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Certification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CertName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CertName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CertAuthority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CertAuthority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEternal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEternal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CertURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CertURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
